* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.row {
  margin: auto;
  padding: 0;
}
::selection {
  background: #ef4060;
  color: #fff;
}
a {
  text-decoration: none;
  position: relative;
}
a:hover,
a:focus {
  text-decoration: underline;
}
.text-center {
  width: 100%;
}
.text-left {
  width: 100%;
}
.text-right {
  width: 100%;
}
body {
  background-color: #f7f7f7;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
  outline: none;
  border: 0;
  opacity: 0.5;
  background-color: transparent;
}
#myBtn:hover {
  opacity: 1;
}
#myBtn img {
  width: 80%;
}
li {
  list-style-type: none;
}
p {
  font-size: 16px;
  color: #3c3c4c;
}
.pinkcolor {
  color: #ef4060;
}
.pinkbg {
  background-color: #ef4060;
}
.heading_content {
  position: relative;
  margin-bottom: 50px;
  z-index: 9;
  width: 100%;
}
.heading_style {
  font-weight: 800;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #3c3c4c;
  margin-bottom: 0;
}
.heading_style span {
  color: #ef4060;
}
.heading_style_bg {
  font-weight: 800;
  font-size: 72px;
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: -1px;
  opacity: 0.2;
  color: #fff;
  -webkit-text-stroke: 1px #000;
  position: absolute;
  left: -50px;
  bottom: 10px;
  z-index: -1;
}
.btn_style {
  background-color: #1b3e75;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  margin: auto;
}
.btn_style:hover {
  color: #fff;
}
.maxwidth {
  max-width: 1360px;
  margin: auto;
}
.modal-open {
  padding-right: 0 !important;
}

/*Preloader CSS*/

.loader {
  background: white;
  height: 100vh;
  z-index: 99999;
  top: 0;
  position: fixed;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.loader #status img {
  width: 300px;
}

/*Header*/

header {
  width: 100%;
  padding: 0;
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0px;
  background-color: transparent;
}
header.active {
  background-color: #3c3c4c;
}
header.active .navbar {
  padding: 10px 30px;
}
#collapsibleNavbar {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  place-items: center;
}
.navbar {
  padding: 30px 30px;
}
nav li {
  position: relative;
  cursor: pointer;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-nav .nav-link {
  color: #fff;
  padding: 8px 14px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  place-items: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}
header.active .navbar-nav .nav-link {
  color: #fff;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ef4060;
}
.navbar-nav .nav-link.active {
  color: #ef4060;
  font-weight: 600;
  background: rgb(239 64 96 / 10%);
}
header a.nav-link:after {
  bottom: -3px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background-color: #ea5167;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header a:hover:after {
  width: 100%;
  left: 0;
}
.navbar-nav .nav-link svg {
  margin-left: 5px;
  font-size: 0.7em;
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.navbar-nav .header_updates .nav-link {
  background-color: #41a2df;
  padding: 0.5em 15px;
  border-radius: 5px;
}
.navbar-nav .header_login .nav-link {
  background-color: #1b3e75;
  padding: 0.5em 2em;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-nav .header_login .nav-link:hover {
  background-color: #474f90;
  -webkit-box-shadow: 0 2px 4px 0 rgba(58, 67, 133, 0.3);
  box-shadow: 0 2px 4px 0 rgba(58, 67, 133, 0.3);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.navbar-nav .header_login .nav-link::after {
  display: none;
}

/*Header*/

/*Banner*/

.banners {
  position: relative;
  height: 100%;
  background-size: contain;
}
.banner #demo {
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  background-color: #e1bebe;
  height: 100vh;
  overflow: hidden;
}
main.main.v-home {
  margin-bottom: -1px;
}
.v-home-projects-v2__slide--0 .m-block__content {
  background-color: #fea2a4;
  background-image: url("../images/banner1-bg.png");
}
.v-home-projects-v2__slide--1 .m-block__content {
  background-color: #f9a575;
  background-image: url("../images/banner2-bg.png");
}
.v-home-projects-v2__slide--2 .m-block__content {
  background-color: #6dcaa6;
  background-image: url("../images/banner3-bg.png");
}
.v-home-projects-v2__slide--3 .m-block__content {
  background-color: #e1bebe;
  background-image: url("../images/banner4-bg.png");
}
.v-home-projects-v2__content img.banner_img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.v-home-projects-v2__content {
  text-align: left;
}
.v-home-projects-v2__slide--0 .banner_info h2 span {
  color: #d5442f;
}
.v-home-projects-v2__slide--1 .banner_info h2 span {
  color: #d5694d;
}
.v-home-projects-v2__slide--2 .banner_info h2 span {
  color: #4f9479;
}
.v-home-projects-v2__slide--3 .banner_info h2 span {
  color: #d68145;
}
.banners_content {
  height: 100%;
  position: relative;
  padding-left: 20px;
}
.banner_info {
  position: absolute;
  top: 200px;
  left: 30px;
}
.banner_info p {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.banner_info p img {
  margin-bottom: -12px;
  margin-left: -15px;
}
.banner_info h2 {
  font-size: 72px;
  line-height: 86px;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 45px;
}
.banner_info h2 span {
  font-weight: bold;
}
.banner_info a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.banner_info a img {
  margin-left: 15px;
}

/*Banner*/

/*About*/

.about {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#e1bebe),
    color-stop(66.25%, transparent)
  );
  background: -o-linear-gradient(top, #e1bebe, transparent 66.25%);
  background: linear-gradient(180deg, #e1bebe, transparent 66.25%);
  margin-bottom: 80px;
}
.about_content {
  width: 1260px;
  margin: auto;
  max-width: 100%;
  background: #ffffff;
  border-radius: 10px;
  padding: 50px 100px;
  height: 800px;
}

/*end About*/

/* Our Work */

.ourwork {
  position: relative;
  padding-bottom: 40px;
}
.ourwork::before {
  content: url("../images/dots-right.png");
  position: absolute;
  right: 0;
  top: 90px;
  z-index: -1;
}
.ourwork::after {
  content: url("../images/dots-left.png");
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.ourwork .maxwidth {
  padding: 0 90px;
  width: 100%;
}
.ourwork_content {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ourwork_info {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  margin: 0 5px;
}
.ourwork_info > img {
  width: 100%;
  margin-bottom: 20px;
}
.ourwork_txt {
  padding: 0 10px;
}
.ourwork_org {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}
.ourwork_org span {
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  color: #828282;
  border: 1px solid #828282;
  border-radius: 25px;
  padding: 4px 8px;
}
.ourwork_txt h4 {
  font-size: 18px;
  line-height: 25px;
  color: #3c3c4c;
  margin-bottom: 5px;
  font-weight: 600;
}
.ourwork_txt p {
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 12px;
  font-weight: 600;
}

/* Our Work */

/* Trusted By */

.trusted {
  padding-top: 50px;
  padding-bottom: 30px;
}
.trusted p {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.0307692px;
}
.trusted_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.trusted_content img + img {
  margin-left: 50px;
}
.trusted_bottom {
  padding: 23px 20px;
  background-color: #fff;
}
.trusted_bottom p {
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.trusted_bottom p a {
  text-decoration: underline;
  color: #ef4060;
  font-weight: bold;
}

/* Trusted By */

/* What Our Clients Say */

.clients {
  padding: 40px 0;
  position: relative;
}
.clients .heading_content {
  margin-left: 90px;
  margin-bottom: 75px;
}
.clients::before {
  content: url("../images/dots-right.png");
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -1;
}
.clients::after {
  content: url("../images/dots-left.png");
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.clients_content {
  width: 100%;
  margin-bottom: 20px;
}
.clients_content_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.clients_content_top {
  -webkit-animation-name: clientsTopMove;
  animation-name: clientsTopMove;
}
.clients_content_bottom {
  -webkit-animation-name: clientsBottomMove;
  animation-name: clientsBottomMove;
}
/* .clients_content_inner:hover{
  animation-play-state: paused;
} */
.clients_info a:hover img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.clients_info a {
  width: 350px;
  height: 350px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.clients_content .clients_info + .clients_info {
  margin-left: 20px;
}
.clients_text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  z-index: 1;
}
.clients_text::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgb(93 93 113);
  z-index: -1;
  opacity: 0.9;
}
.clients_text h5 {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: -1px;
}
.clients_text h5 span {
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.clients_text p {
  font-size: 10.3359px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.clients_text p img {
  margin-right: 5px;
}
@-webkit-keyframes clientsTopMove {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
/* Standard syntax */
@keyframes clientsTopMove {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  50% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@-webkit-keyframes clientsBottomMove {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}
/* Standard syntax */
@keyframes clientsBottomMove {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  50% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
}
.client_modal .modal-lg {
  width: 1034px;
  max-width: 100%;
}
.clients .clients_inner {
  width: 100%;
  overflow-x: hidden;
  padding-top: 40px;
}

/* What Our Clients Say */

/* See Positions */

.positions {
  padding: 20px 50px 65px;
}
.positions p {
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 14px;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-bottom: 12px;
}
.positions p img {
  margin-bottom: -12px;
  margin-left: -15px;
}
.positions h3 {
  font-weight: 600;
  font-size: 52px;
  line-height: 63px;
  letter-spacing: -0.729759px;
  color: #3c3c4c;
  margin-bottom: 30px;
}
.positions h3 span {
  font-weight: bold;
  color: #6dcaa6;
}
.positions a {
  background-color: #6dcaa6;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fafafa;
  font-size: 16px;
  line-height: 21px;
  display: inline-block;
}

/* See Positions */

/* Footer */

footer {
  background-image: url("../images/footer-bg.png");
}
footer .maxwidth {
  padding: 100px 70px;
}
footer h3 {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.6px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer h3 span {
  color: #ef4060;
  font-weight: bold;
}
footer h3 img {
  margin-left: 30px;
}
.footer_bottom {
  background: #3c3c4c;
}
.footer_bottom .maxwidth {
  padding: 10px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer_bottom p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.98px;
  color: #aeaeae;
}
.footer_copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer_copyrights img {
  margin-right: 10px;
}
.footer_socialmedia a + a {
  margin-left: 20px;
}
.footer_socialmedia a:hover img {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Footer */

/* Blog Page CSS */

.inner_banner {
  height: 100vh;
  background-image: url("../images/blogs-pattern.png");
}
.inner_banner .banners_content {
  width: 100%;
}
.inner_banner img.banner_img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.inner_banner .banner_info p {
  color: #c4c4c4;
}
.inner_banner .banner_info h2 {
  color: #3c3c4c;
}
.inner_banner .banner_info h2 span {
  color: #ef4060;
}
.recentArticles {
  position: relative;
  top: -100px;
}
.recentArticles .maxwidth {
  padding: 0 90px;
  width: 100%;
}
.recentArticles_content {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.recentArticles_info {
  padding: 30px 22px 15px;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
  max-width: 100%;
  margin: 0 5px;
}
.articles_top h4 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #3c3c4c;
  margin-bottom: 20px;
}
.articles_top p {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #828282;
  margin-bottom: 20px;
}
.articles_top a {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #ef4060;
  margin-bottom: 23px;
  display: inline-block;
}
.articles_top a img {
  margin-left: 15px;
}
.articles_bottom {
  border-top: 1px solid #f2f2f2;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p.articles_author {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3c3c4c;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
p.articles_author img {
  margin-right: 5px;
}
.articles_tags {
  display: flex;
  align-items: center;
}
.articles_tags span {
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #828282;
  padding: 5px 10px;
  border: 1px solid #828282;
  border-radius: 15px;
  margin-left: 0;
}
.articles_tags span + span {
  margin-left: 8px;
}
.articles_tags span.articles_tags_field {
  background: #61a2d7;
  color: #fff;
  border: 1px solid #61a2d7;
}
.popularArticles {
  padding: 0 90px;
  width: 100%;
}
.popularArticles_content {
  padding: 30px 30px 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.popularArticles_info {
  display: flex;
  align-items: center;
}
.popularArticles_info .popularArticles_img {
  margin-right: 45px;
}
.popularArticles_info .articles_top a {
  margin-bottom: 0;
}
.popularArticles_content .articles_bottom {
  border-top: 0;
  padding-top: 0;
}
.popularArticles_content .articles_top p {
  margin-bottom: 10px;
}
.allArticles .maxwidth {
  padding: 80px;
  width: 100%;
}
.articles_category {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding-right: 10px;
}
.articles_category select {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #3c3c4c;
  padding: 8px 20px;
  border: 0;
  border-radius: 8px;
}
.articles_category select:focus {
  outline: none;
}

/* Blog Page CSS */

/* Blog Inner Page CSS */

.blog_inner_banner {
  min-height: 100vh;
  padding-top: 180px;
  position: relative;
  background: rgba(97, 162, 215, 0.05);
  margin-bottom: 30px;
}
.blog_inner_banner .maxwidth {
  width: 100%;
  padding: 0 40px;
}
.blog_inner_banner h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.506px;
  color: #292929;
  max-width: 835px;
  margin-bottom: 20px;
}
.blog_inner_banner::before {
  content: url("../images/dots-right.png");
  position: absolute;
  right: 0;
  top: 200px;
  z-index: -1;
}
.bloginner_relatedArticles {
  margin-bottom: 45px;
}
.blog_inner_banner .articles_tags {
  margin-bottom: 50px;
}
.blog_inner_content {
  margin-bottom: 40px;
}
.blog_inner_banner p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.063px;
  color: #292929;
  margin-bottom: 30px;
  padding-right: 50px;
}
.blog_inner_content .maxwidth {
  padding: 0 30px;
}
.blog_inner_content h3,
.blog_inner_content h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #292929;
  margin-bottom: 20px;
}
.blog_inner_content .col-md-8 h3,
.blog_inner_content .col-md-8 h4 {
  margin-top: 40px;
}
.blog_inner_content .col-md-8 h3:first-child {
  margin-top: 0;
}
.blog_inner_content h3 span {
  color: #ef4060;
}
.blog_inner_content p {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.063px;
  color: #292929;
}
.blog_inner_content p span.cmds {
  font-size: 15px;
  background: #f2f2f2;
  border-radius: 4px;
  padding: 0 5px;
}
.blog_inner_content .col-md-8 img {
  margin-bottom: 50px;
}
.blog_relatedArticles_info {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 10px;
}
.blog_relatedArticles_info h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: rgba(97, 162, 215, 1);
  padding: 17px 35px;
  margin-bottom: 0;
  background: rgba(97, 162, 215, 0.05);
}
.blog_relatedArticles_info .articles_bottom {
  padding: 10px 35px;
}
.blog_relatedArticles_info .articles_bottom p {
  font-size: 12px;
  line-height: 16px;
  color: #3c3c4c;
}
.bloginner_popularArticles .recentArticles_info {
  margin-bottom: 20px;
}
.bloginner_popularArticles .recentArticles_info p {
  font-size: 14px;
  line-height: 19px;
  color: #828282;
}
.blog_inner_content .commands_info {
  background: #f2f2f2;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 5px;
}
.blog_inner_content .commands_info p {
  font-size: 16px;
  font-weight: 600;
}
.blog_inner_content h4 {
  font-weight: 500;
}
.blog_inner_content .commands_info h5 {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.063px;
  color: #292929;
  font-weight: 600;
  margin-bottom: 0;
}

/* Blog Inner Page CSS */

/*Mobile CSS*/

@media only screen and (max-width: 600px) {
  body {
    overflow: auto;
  }
  .navbar {
    padding: 15px 20px;
  }
  header {
    background-color: #3c3c4c;
  }
  button.navbar-toggler {
    border: 1px solid #fff;
    color: #fff;
  }
  .heading_style {
    font-size: 28px;
  }
  .heading_style_bg {
    left: 0;
    font-size: 32px;
  }
  .banner img.banner_img {
    top: unset;
    width: 100%;
  }
  .banners {
    height: 100vh;
  }
  .banner_info {
    top: 100px;
    left: 20px;
  }
  .banner_info p {
    letter-spacing: 12px;
  }
  .banner_info h2 {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .banner {
    overflow: auto;
    height: auto;
  }
  .about_content {
    padding: 50px 20px;
  }
  .ourwork .maxwidth {
    padding: 0 20px;
  }
  .ourwork_content,
  .trusted_content {
    display: block;
  }
  .clients .heading_content {
    margin-left: 20px;
  }
  .positions {
    padding: 20px 20px 65px;
  }
  .positions .col-sm-4 img {
    width: 100%;
  }
  footer .maxwidth {
    padding: 50px 20px;
  }
  .footer_bottom .maxwidth {
    padding: 10px 20px;
  }
}

/*Tablet CSS*/

@media only screen and (min-width: 601px) and (max-width: 1000px) {
}

/*Extra Small Devices CSS*/

@media only screen and (max-width: 350px) {
}

/*Large Device CSS*/

@media only screen and (min-width: 1370px) {
  .clients .clients_inner {
    max-width: 1360px;
    margin: auto;
  }
}

/*Laptop 1024 CSS*/

@media only screen and (min-width: 1001px) and (max-width: 1025px) {
}
@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */

  .loader #status img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
